DATABASE_URL=postgresql://propsights:propsights@127.0.0.1:5432/ALUMNIDB
SESSION_SECRET=eEJTaDy0NAP2AjzoBCxn/SbiOnc8U2PcxPxH8oOzBBIlVgcF4tsf2Rxy+10nHa7C
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=6cee5686a9a1a6
SMTP_PASS=081a381a778ae4
EMAIL_FROM=noreply@eastminster.ac.uk
ALLOWED_DOMAIN=eastminster.ac.uk
ALLOWED_ORIGINS=http://localhost:3000
UPLOAD_DIR=./uploads
